/**
*
* Guide de style
*
**/

.btn {
   display: inline-block;
   text-decoration: none;
   background-color: #000;
   color:#fff;
   padding: rem(5,10);


   &:hover, &:focus {
      background-color: green;
   }
}
