/*===================================
=            Typographie            =
===================================*/

$base-font-family		: Arial, Roboto, "Nimbus Sans L", sans-serif;

$mq-font-size		   	: 16; // pour le calcul des medias queries
$base-font-size-s		: 16;
$base-font-size-l		: 18;
$base-line-height		: 1.5;


/*=====  FIN Typographie  ======*/

/*==================================
=            Agencement            =
==================================*/

/**
*
* mq 	: media querie
* h 	: header
* w 	: width
* mw 	: max width
* cl 	: classic
* fs 	: fullscreen
*
*/


/*----------  Layout global  ----------*/

$space					: 4vw;
$space-max				: 40;

$txt-mw          		: 700;
$content-mw--cl			: 840; // (2 * st max width 400) + (1 * gap main-inner max 40) 

$layout-mw--cl			: 1200;
$layout-mw--fs			: 1400;

$mq-content-max--cl		: $content-mw--cl;

$mq-layout-m			: 480;
$mq-layout-l			: 760;
$mq-layout-xl--fs		: 1100;
$mq-layout-max--cl		: $layout-mw--cl;
$mq-layout-max--fs		: $layout-mw--fs;


/*----------  Navigation  ----------*/

$h-nav-w-s	 			: 80vw; // masquée
$h-nav-w-l				: 50vw; // masquée
$space--h-nav 			: 10;

$mq-nav-l	 			: 640;
$mq-nav-max--cl			: $layout-mw--cl;


/*----------  Divers  ----------*/

$space--st 				: 20;

$mq-title-size			: 600;
$mq-gallery-nav		    : $mq-layout-l;
$mq-gallery-max			: 1200;


/*=====  FIN Agencement  ======*/

/*==========================================
=            Durées d'animation            =
==========================================*/

// navigation
$t-nav					: .5s;
$t-nav-btn-ico			: .6s;
$t-nav-link 			: .3s;

// article résumé
$t-st-hover				: .5s;


/*=====  FIN Durées d'animation  =====*/