
:root {

	/*================================
	=            Couleurs            =
	================================*/
	
	--color-black-h : 0;
	--color-black-s : 45%;
	--color-black-l : 11%;
	--color-black : hsl(var(--color-black-h),var(--color-black-s),var(--color-black-l));
	
	--color-grey-h : 32;
	--color-grey-s : 22%;
	--color-grey-l : 86%;
	--color-grey : hsl(var(--color-grey-h),var(--color-grey-s),var(--color-grey-l));
	
	--color-white-h : 42;
	--color-white-s : 52%;
	--color-white-l : 95%;
	--color-white : hsl(var(--color-white-h),var(--color-white-s),var(--color-white-l));
	
	--color-1-h : 0;
	--color-1-s : 98%;
	--color-1-l : 64%;
	--color-1 : hsl(var(--color-1-h),var(--color-1-s),var(--color-1-l));
	
	--color-2-h : 39;
	--color-2-s : 100%;
	--color-2-l : 74%;
	--color-2 : hsl(var(--color-2-h),var(--color-2-s),var(--color-2-l));
	
	--color-3-h : 183;
	--color-3-s : 51%;
	--color-3-l : 83%;
	--color-3 : hsl(var(--color-3-h),var(--color-3-s),var(--color-3-l));
	
	
	/*=====  FIN Couleurs  =====*/

    --h1-font : var(--font);
	--nav-h-font : var(--font-alt);
	
	/*===============================
	=            Wysiwyg            =
	===============================*/
	
	--wysi-title-font : var(--font);
	
	
	/*=====  FIN Wysiwyg  =====*/

}