
:root {

    /* font-face */
    --font-face-url-woff : url("css/font-face/raleway-v14-latin-900.woff");
    --font-face-url-woff-2 : url("css/font-face/raleway-v14-latin-900.woff2");
    --font-face-alt-url-woff : url("css/font-face/raleway-v14-latin-600.woff");
    --font-face-alt-url-woff-2 : url("css/font-face/raleway-v14-latin-600.woff2");


    --h1-font : var(--font);

    --nav-h-font : var(--font-alt);

}