/**
*
* Print reset
*
**/


* {
	background: transparent !important;
	box-shadow: none !important;
	text-shadow: none !important;
}

body {
	width: auto;
	margin: auto;
	font-family: sans-serif;
	font-size: 12pt;
	line-height: auto;
	background-color: transparent;
	color:#000;
}

p,
h1, .h1-like,
h2,	.h2-like,
h3, .h3-like,
h4, .h4-like,
h5,	.h5-like,
h6,	.h6-like,
blockquote,
ul,
ol {
	color: #000;
	margin: auto;
}

/* no orphans, no widows */
p,
blockquote {
	orphans: 3;
	widows: 3;
}

/* no breaks inside these elements */
blockquote,
ul,
ol {
	page-break-inside: avoid;
}

/* no breaks after these elements */
h1, .h1-like,
h2, .h2-like,
h3,	.h3-like,
caption {
	page-break-after: avoid;
}

a {
	color: #000;
}

a[href^="javascript:"]::after,
a[href^="#"]::after {
	content: "";
}

/*----------  helpers  ----------*/

.print {
	display: block;
}

.no-print {
	display: none;
}