/**
*
* [PC] CSS V2
* Imports & Configuration
*
** Typographie
** Couleurs
** Agencement
** Imports
*
**/


/*===================================
=            Typographie            =
===================================*/


/*----------  Défaut  ----------*/

$base-font-family		: Arial, Roboto, "Nimbus Sans L", sans-serif;

$mq-font-size		   	: 16; // pour le calcul des medias queries
$base-font-size			: 18;
$base-line-height		: 1.5;


/*=====  FIN Typographie  ======*/

/*================================
=            Couleurs            =
================================*/

/*----------  Project  ----------*/

$beige 		: #f9f5ec;
$red 		: #fd4b4b;
$yellow		: #ffd17b;
$blue		: #bfe8ea;
$black		: #2a1010;


/*----------  Défaut  ----------*/

$body-bg-color			: $beige;
$font-color-default		: $black;

$color-placeholder		: #777;


/*=====  FIN Couleurs  ======*/

/*==================================
=            Agencement            =
==================================*/

/*----------  Gouttières  ----------*/

$space-s				: 10;
$space-m				: 20;
$space-l				: 30;
$space-default			: 5vw;


/*----------  Largeur maximum  ----------*/

$max-width				: 1230;
$max-width-txt          : 700;

// navigation masquée
$h-nav-width-min 		: 260;
$h-nav-width-l			: 50vw;



/*----------  Medias Queries  ----------*/

// génériques
$mq-space-m				: 480;
$mq-space-l				: 760;
$mq-max					: $max-width;

// navigation
$mq-nav-l	 			: 640;
$mq-nav-max 			: $max-width;

// divers
$mq-title-size			: $mq-space-l;
$mq-gallery-nav		    : $mq-space-l;
$mq-contact-form        : $mq-space-l;


/*=====  FIN Agencement  ======*/

/*==========================================
=            Durées d'animation            =
==========================================*/

// nav
$t-nav					: .5s;
$t-nav-btn-ico			: .6s;


/*=====  FIN Durées d'animation  =====*/

/*===============================
=            Imports            =
===============================*/

@import "vars";

/*----------  Framework  ----------*/

@import "framework/frk-functions";
@import "framework/frk-normalize";
@import "framework/frk-reset";
@import "framework/frk-helpers";


/*----------  Composants  ----------*/

@import "components/cpt-skip-nav";
// @import "components/cpt-cookies";
@import "components/cpt-messages";
@import "components/cpt-loader";
@import "components/cpt-gallery";
@import "components/cpt-social";
@import "components/cpt-wysiwyg";


/*----------  Layout  ----------*/

@import "layout/layout";
@import "layout/layout-logo";


/*----------  Navigation  ----------*/

@import "navigation/nav-header";
@import "navigation/nav-footer";


/*----------  Publications  ----------*/

@import "publications/pub-commons";
@import "publications/pub-home";
@import "publications/pub-page";
@import "publications/pub-news";


/*----------  Formulaires  ----------*/

@import "forms/form-default";


/*=====  FIN imports  ======*/
