/**
*
* [custom] Navigation dans le pied de page
*
**/


@use "../framework/frk-functions" as *;
@use "../vars-sass" as *;


/*=============================
=            Liste            =
=============================*/

.f-nav-list {
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	margin-top:2*$space;

	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		margin-top: $space;
	}
}


/*=====  FIN Liste  ======*/

/*============================
=            Lien            =
============================*/

.f-nav-link {
	text-decoration: none;

	&:hover, &:focus {
		text-decoration: underline;
	}
}

.f-nav-link-inner {}


/*=====  FIN Lien  ======*/
