/**
*
* [custom] Navigation dans le pied de page
*
**/


/*=============================
=            Liste            =
=============================*/

.f-nav-list {
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	margin-top:2*$space;
	font-size: rem(16);

	&:after {
		content:"/";
		margin-left:rem(5);
	}

	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		margin-top: $space;
	}
}

.f-nav-item {

	&:nth-child(n+2) {
		&:before {
			content:"/";
			margin:rem(0,5);
		}
	}
}


/*=====  FIN Liste  ======*/

/*============================
=            Lien            =
============================*/

.f-nav-link {
	color:var(--color-white);
	text-decoration: none;

	&:hover, &:focus {
		text-decoration: underline;
	}
}

.f-nav-link-inner {}


/*=====  FIN Lien  ======*/
