/**
*
* Classic : publications
*
** Article résumé
** Accueil
*
**/

/*===============================
=            Communs            =
===============================*/

/*----------  Titre de la pge  ----------*/

h1 {
	padding:$space/2 $space;
	background-color: rgba($beige,.7);
}


/*----------  Container WP editor  ----------*/

.fs-editor {
	/* $mq-layout-xl--fs */
	@media ( min-width : em($mq-layout-xl--fs) ) {
		grid-column-end: span 6;
		.is-home & {
			grid-column-end: span 3;
		}
	}
}


/*=====  FIN Communs  =====*/

/*======================================
=            Article résumé            =
======================================*/

.st {
	/* $mq-layout-xl--fs */
	@media ( min-width : em($mq-layout-xl--fs) ) {
		grid-column-end: span 2;
		
		.is-home &:last-of-type {
			position: absolute;
			left:-666em;
		}
	}
}


/*=====  FIN Article résumé  =====*/

/*===============================
=            Accueil            =
===============================*/

/*----------  Raccourcis  ----------*/

.home-shortcuts {
	padding:0 $space;

	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		padding: 0;
		background-color: $grey;
		gap:1px;
	}
	/* $mq-layout-xl--fs */
	@media ( min-width : em($mq-layout-xl--fs) ) {
		grid-column-end: span 3;
	}
}
.home-shortcut-item {

	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		background-color: $beige;
		padding:$space/2;
	}
	/* $mq-layout-xl--fs */
	@media ( min-width : em($mq-layout-xl--fs) ) {
		min-height: 20vw;
	}
	/* $mq-layout-max--fs */
	@media ( min-width : em($mq-layout-max--fs) ) {
		padding:rem($space-max/2);
		min-height: rem(250);
	}
}
.home-shortcut-link {}



/*=====  FIN Accueil  =====*/