/**
*
* Fullscreen : structure principale
*
** Communs
** Html & Body
** Header
** Main
** Footer
*
**/


@use "../framework/frk-functions" as *;
@use "../vars-sass" as *;


/*===============================
=            Communs            =
===============================*/

.fs-bloc {
	padding: $space;

	/* $mq-layout-max--fs */
	@media ( min-width : em($mq-layout-max--fs) ) {
		padding:rem($space-max);
	}
}


/*=====  FIN Communs  =====*/

/*===================================
=            Html & body            =
===================================*/

html {}

body {}
.body-inner {}


/*=====  FIN Html & body  =====*/

/*==============================
=            Header            =
==============================*/

.header {}
.header-inner {}

.h-logo {}
.h-logo-link {
	position: relative;
	z-index: 1;
}


/*=====  FIN Header  =====*/

/*============================
=            Main            =
============================*/

.main {

	.is-fullscreen {
		margin-top:75vh;
	}
}
.main-inner {
	max-width: rem($layout-mw--fs);
	margin:0 auto;

	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		gap:1px;
	}
	/* $mq-layout-xl--fs */
	@media ( min-width : em($mq-layout-xl--fs) ) {
		grid-template-columns: repeat( 6, 1fr );
	}
	/* $mq-layout-max--fs */
	@media ( min-width : em($mq-layout-max--fs) ) {
		border-left-width:1px;
		border-right-width:1px;
		border-left-style:solid;
		border-right-style:solid;
	}
}

.main-header {
	grid-column: 1 / 3;

	.is-fullscreen & {
		height:75vh;
		background-position: center;
		background-size: cover;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	/* $mq-layout-xl--fs */
	@media ( min-width : em($mq-layout-xl--fs) ) {
		grid-column: 1 / 7;
	}
}

.main-footer {
	/* $mq-layout-xl--fs */
	@media ( min-width : em($mq-layout-xl--fs) ) {
		grid-column: 1 / 7;
	}
}


/*=====  FIN Main  =====*/

/*==============================
=            Footer            =
==============================*/

.footer {}
.footer-inner {
	max-width: rem($layout-mw--fs);
	margin:0 auto;
}


/*=====  FIN Footer  =====*/