/**
*
* Classic : publications
*
** Article résumé
** Accueil
*
**/


@use "../framework/frk-functions" as *;
@use "../vars-sass" as *;


/*===============================
=            Communs            =
===============================*/

/*----------  Titre de la pge  ----------*/

h1 {
	max-width: var(--txt-mw);
}


/*----------  Boutton scroll to content  ----------*/

.fs-more {}
.fs-more-btn {
	position: absolute;
	bottom:15vh;
	left:50%;

	svg {
		transform-origin: center;
		transform: rotate(-90deg);
	}
}


/*----------  Container WP editor  ----------*/

.fs-editor {
	
	.editor-inner {
		max-width: var(--txt-mw);
	}

	/* $mq-layout-xl--fs */
	@media ( min-width : em($mq-layout-xl--fs) ) {
		grid-column-end: span 6;
		.is-home-with-shortcuts & {
			grid-column-end: span 3;
		}
	}
}


/*=====  FIN Communs  =====*/

/*======================================
=            Article résumé            =
======================================*/

.st {
	border-bottom-width:1px;
	border-bottom-style:solid;

	&.st--fake:hover {
		background-color: var(--color-white);
	}

	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		border-bottom:none;

		&:nth-of-type(1) + .st--fake:nth-of-type(2),
		&:nth-of-type(2) + .st--fake,
		&:nth-of-type(4) + .st--fake {
			display: none;
		}
		
		.is-home & {
			&:nth-of-type(1) + .st--fake:nth-of-type(2) {
				display:block;
			}
		}
	}

	/* $mq-layout-xl--fs */
	@media ( min-width : em($mq-layout-xl--fs) ) {
		grid-column-end: span 2;

		&:nth-of-type(1) + .st--fake:nth-of-type(2),
		&:nth-of-type(2) + .st--fake,
		&:nth-of-type(4) + .st--fake {
			display: block;
		}
		&:nth-of-type(3) + .st--fake {
			display: none;
		}
		
		.is-home & {
			&:nth-of-type(4) {
				position: absolute;
				left:-666em;
			}
			&:nth-of-type(4) ~ .st--fake {
				display:none;
			}
		}
	}
}

.st--fake {
	display: none;

	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		display:block;
	}
}


/*=====  FIN Article résumé  =====*/

/*===============================
=            Accueil            =
===============================*/

/*----------  Raccourcis  ----------*/

.home-shortcuts {
	padding:0 $space;

	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		padding: 0;
		gap:1px;
	}
	/* $mq-layout-xl--fs */
	@media ( min-width : em($mq-layout-xl--fs) ) {
		grid-column-end: span 3;
	}
}
.home-shortcut-item {

	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		padding:$space/2;
	}
	/* $mq-layout-xl--fs */
	@media ( min-width : em($mq-layout-xl--fs) ) {
		min-height: 20vw;
	}
	/* $mq-layout-max--fs */
	@media ( min-width : em($mq-layout-max--fs) ) {
		padding:rem($space-max/2);
		min-height: rem(250);
	}
}
.home-shortcut-link {}


/*----------  Actualités  ----------*/

.home-news-title {
	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		grid-column: 1/3;
	}
	/* $mq-layout-xl--fs */
	@media ( min-width : em($mq-layout-xl--fs) ) {
		grid-column: 1/7;
	}
}


/*=====  FIN Accueil  =====*/

/*=============================================
=            Formulaire de contact            =
=============================================*/

.form--contact {
	grid-column: 1 / 7;

	form {
		max-width: var(--txt-mw);
	}
}



/*=====  FIN Formulaire de contact  =====*/