/**
*
* Custom css admin
*
**/

/*----------  Liste d'article  ----------*/

table.wp-list-table .column-thumb {
    width: 50px;
}
table.wp-list-table .column-thumb img {
    max-width: 40px;
    height: auto;
}

/*----------  TinyMCE  ----------*/

.wysi-intro {
	text-transform: uppercase;
	font-weight: 700;
}