/**
*
* [custom] Structure principale
*
** Html & Body
** Header
** Main
** Aside
** Footer
*
**/



.layout {
	padding: $space-default;

	/* $mq-max */
	@media ( min-width : em($mq-max) ) {
		padding: $space-default/2 $space-default;
	}
}


/*===================================
=            Html & body            =
===================================*/

html {
	overflow-x:hidden;
}
body {}

.body-inner {
	/* pour la navigation cachée */
	position: relative;
	transition: transform $t-nav ease;

	.h-nav-is-open & {
		transform:translateX(rem(-$h-nav-width-min));
		transition: transform $t-nav ease;
	}
	/* $mq-nav-l */
	@media ( min-width : em($mq-nav-l) ) {
		.h-nav-is-open & {
			transform:translateX(-$h-nav-width-l);		
		}
	}
	/* $mq-nav-max */
	@media ( min-width : em($mq-nav-max) ) {
		.h-nav-is-open & {
			transform:none;		
		}
	}
}


/*=====  FIN Html & body  =====*/

/*==============================
=            Header            =
==============================*/

.header {
	background-color:$red;
}
.header-inner {
	display:flex;
	justify-content: space-between;
	align-items: flex-end;

	/* $mq-max */
	@media ( min-width : em($mq-max) ) {
		position:relative;
	}
}


/*=====  FIN Header  =====*/

/*============================
=            Main            =
============================*/

.main {}
.main-inner {}


/*=====  FIN Main  =====*/

/*=============================
=            Aside            =
=============================*/

.aside {}
.aside-inner {}


/*=====  FIN Aside  =====*/

/*==============================
=            Footer            =
==============================*/

.footer {
	background-color:$black;
	color:$beige;
}
.footer-inner {
	display:flex;
	justify-content: space-between;
	align-items: flex-start;
}


/*=====  FIN Footer  =====*/