/**
*
* Structure principale
*
** Html & Body
** Header
** Main
** Footer
*
**/


/*===================================
=            Html & body            =
===================================*/

html {
	overflow-x:hidden;
}
body {}

.body-inner {
	/* pour la navigation cachée */
	position: relative;
	transition: transform $t-nav ease;

	.h-nav-is-open & {
		transform:translateX(-$h-nav-w-s);
		transition: transform $t-nav ease;
	}
	/* $mq-nav-l */
	@media ( min-width : em($mq-nav-l) ) {
		.h-nav-is-open & {
			transform:translateX(-$h-nav-w-l);		
		}
	}
}


/*=====  FIN Html & body  =====*/

/*==============================
=            Header            =
==============================*/

.header {
	background-color:$red;
}
.header-inner {}

.h-logo {}
.h-logo-link {
	text-decoration: none;
	display: inline-block;
	max-width: rem(100);

	/* $mq-layout-m */
	@media ( min-width : em($mq-layout-m) ) {
		max-width: none;
	}
}


/*=====  FIN Header  =====*/

/*============================
=            Main            =
============================*/

.main {}
.main-inner {

	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		display:grid;
		grid-template-columns: repeat(2,1fr);
	}
}

.main-header {}
.main-header-inner {}

.main-footer {
	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		grid-column: 1/3;
		grid-template-columns: repeat(2,1fr);
	}
}
.main-footer-inner {

	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		grid-column-end: span 2;
		display:grid;
		grid-template-columns: repeat(2,1fr);
	}
}


/*=====  FIN Main  =====*/

/*==============================
=            Footer            =
==============================*/

.footer {
	background-color:$black;
	color:$beige;
	padding-top:.5*$space;
}
.footer-inner {}


/*=====  FIN Footer  =====*/