/**
*
* Classic : publications
*
** Communs
** Article résumé
** Accueil
*
**/

/*===============================
=            Communs            =
===============================*/

/*----------  Container WP editor  ----------*/

.cl-editor {}


/*----------  Navigation pager, page précédente  ----------*/

.main-footer-nav {
	margin-top:$space;

	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		margin-top:0;
	}
}


/*=====  FIN Communs  =====*/

/*======================================
=            Article résumé            =
======================================*/

.st {
	margin-top: $space;
	padding:$space;

	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		margin-top:0;
		padding:rem($space--st)
	}
}


/*=====  FIN Article résumé  =====*/

/*===============================
=            Partage            =
===============================*/

.social-share {
	margin-top:$space;

	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		margin-top:0;
	}
}


/*=====  FIN Partage  =====*/

/*===============================
=            Accueil            =
===============================*/

/*----------  Raccourcis  ----------*/

.home-shortcuts {	

	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		gap:$space;
		margin-left: 0;
	}
	/* $mq-layout-max--cl */
	@media ( min-width : em($mq-layout-max--cl) ) {
		gap:rem($space-max);
	}
}
.home-shortcut-item {
	/* $mq-layout-max--cl */
	@media ( min-width : em($mq-layout-max--cl) ) {
		min-height: rem(250);
	}
}
.home-shortcut-link {}



/*=====  FIN Accueil  =====*/