/**
*
* Classic : navigation dans l'entête
*
** Bouton ouvrir/fermer
** Container
** Liste
** Lien
** Réseaux sociaux
*
*
**/


@use "../framework/frk-functions" as *;
@use "../vars-sass" as *;


/*============================================
=            Bouton ouvrir/fermer            =
============================================*/

.h-nav-btn-box {
	/* $mq-nav-max--cl */
	@media ( min-width : em($mq-nav-max--cl) ) {
		display:none;
	}
}
.btn-overlay {
	/* $mq-nav-max--cl */
	@media ( min-width : em($mq-nav-max--cl) ) {
		display:none;
	}
}


/*=====  FIN Bouton ouvrir/fermer  =====*/

/*=================================
=            Container            =
=================================*/

.h-nav {
	/* $mq-nav-max--cl */
	@media ( min-width : em($mq-nav-max--cl) ) {
		// reset
		position: static;
		width: auto;
		padding: 0;
	}
}
.h-nav-inner {
    /* $mq-nav-max--cl */
    @media ( min-width : em($mq-nav-max--cl) ) {
        position: static;       
    }

}

/*=====  FIN Container  =====*/

/*=============================
=            Liste            =
=============================*/

.h-nav-list {
	/* $mq-nav-max--cl */
	@media ( min-width : em($mq-nav-max--cl) ) {
		display: flex;
		flex-wrap: wrap;
	}
}
.h-nav-item {}


/*=====  FIN Liste  =====*/

/*============================
=            Lien            =
============================*/

.h-nav-link, .h-nav-link:visited {}
.h-nav-link-inner {}


/*=====  FIN Lien  =====*/

/*=======================================
=            Réseaux sociaux            =
=======================================*/

.social-list--header {
	/* $mq-nav-max--cl */
	@media ( min-width : em($mq-nav-max--cl) ) {
		position:absolute;
		top:$space/2;
		right:$space;
		margin:0;
	}
}


/*=====  FIN Réseaux sociaux  =====*/