/**
*
* Classic : structure principale
*
** Communs
** Html & Body
** Header
** Main
** Aside
** Footer
*
**/

/*===============================
=            Communs            =
===============================*/

.cl-bloc {
	padding: $space;

	/* $mq-layout-max--cl */
	@media ( min-width : em($mq-layout-max--cl) ) {
		padding: $space/2 $space;
	}
}


/*=====  FIN Communs  =====*/

/*===================================
=            Html & body            =
===================================*/

html {}
body {}

.body-inner {
	/* $mq-nav-max--cl */
	@media ( min-width : em($mq-nav-max--cl) ) {
		.h-nav-is-open & {
			transform:none;		
		}
	}
}


/*=====  FIN Html & body  =====*/

/*==============================
=            Header            =
==============================*/

.header {
	background-color:$red;
}
.header-inner {

	/* $mq-layout-max--cl */
	@media ( min-width : em($mq-layout-max--cl) ) {
		position:relative;
		display:flex;
		justify-content: space-between;
		align-items: flex-end;
	}
}


/*=====  FIN Header  =====*/

/*============================
=            Main            =
============================*/

.main {}
.main-inner {
	max-width:rem( ( (400 + 2*$space--st) * 2 ) ) ; // 400 = image width
	
	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		gap: $space;
	}
	/* $mq-layout-max--cl */
	@media ( min-width : em($mq-layout-max--cl) ) {
		gap: rem(40);
	}
}

.main-header {

	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		grid-column-end: span 2;
	}
}
h1 {}

.main-footer {}


/*=====  FIN Main  =====*/

/*=============================
=            Aside            =
=============================*/

.aside {}
.aside-inner {}


/*=====  FIN Aside  =====*/

/*==============================
=            Footer            =
==============================*/

.footer {}
.footer-inner {}


/*=====  FIN Footer  =====*/