/**
*
* Classic : structure principale
*
** Communs
** Html & Body
** Header
** Main
** Footer
*
**/


@use "../framework/frk-functions" as *;
@use "../vars-sass" as *;


/*===============================
=            Communs            =
===============================*/

.cl-bloc {
	padding: $space;

	/* $mq-layout-max--cl */
	@media ( min-width : em($mq-layout-max--cl) ) {
		padding: rem($space-max) $space;
	}
}


/*=====  FIN Communs  =====*/

/*===================================
=            Html & body            =
===================================*/

html {}
body {}

.body-inner {
	/* $mq-nav-max--cl */
	@media ( min-width : em($mq-nav-max--cl) ) {
		.h-nav-is-open & {
			transform:none;		
		}
	}
}


/*=====  FIN Html & body  =====*/

/*==============================
=            Header            =
==============================*/

.header {}
.header-inner {

	/* $mq-layout-max--cl */
	@media ( min-width : em($mq-layout-max--cl) ) {
		position:relative;
		display:flex;
		justify-content: space-between;
		align-items: flex-end;
	}
}


/*=====  FIN Header  =====*/

/*============================
=            Main            =
============================*/

.main {}
.main-inner {
	max-width:var(--txt-mw);
	
	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		gap: $space;
	}
	/* $mq-layout-max--cl */
	@media ( min-width : em($mq-layout-max--cl) ) {
		gap: rem($space-max);
	}
}

.main-header {
	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		grid-column-end: span 2;
	}
}

.main-footer {}


/*=====  FIN Main  =====*/

/*==============================
=            Footer            =
==============================*/

.footer {}
.footer-inner {}


/*=====  FIN Footer  =====*/