
/*======================================
=            Article résumé            =
======================================*/

$space--st : 30;

.st {
	position: relative;

	&:before {
		content:"";
		position: absolute;
		z-index: -1;
		background-color: var(--color-3);
		opacity: 0;
		transition:all .5s ease;
		transform-origin: center;
		transform: scale(.7);
		top:rem(-$space--st);
		right:rem(-$space--st);
		bottom:rem(-$space--st);
		left:rem(-$space--st);
	}

	&:hover, &:focus {
	   &:before {
		   opacity:1;
		   transform: scale(1);
		   transition:all .5s ease;
	   }
	}

	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		margin-top: 0;
		.is-home & {
			&:first-child {
				margin-top:$space;
				grid-column-start: 1;
				grid-column-end: -1;
			}
		}
	}
}
.st-inner {
	position: relative;

	&:before, &:after {
		content:"";
		position: absolute;
		z-index: 1;
		height: rem(4);
		background-color: var(--color-black);
		transition:all .5s ease;
	}
	&:before {
		top:0;
		right:0;
		left:0;
	}
	&:after {
		bottom:rem(-1.5*$space--st);
		right:rem(-$space--st);
		left:rem(-$space--st);
		opacity: 0;
		transform:translateX(rem($space--st)) rotate(1deg);
	}

	.st:hover & {
		&:before, &:after {
			transition:all .5s ease;
			right:rem(-$space--st);
			left:rem(-$space--st);
		}
		&:before {
			top:rem(-$space--st);
		}
		&:after {
			bottom:rem(-$space--st);
			transform:translateX(0) rotate(0);
			opacity: 1;
		}
	}
}
