/**
*
* Publications : commmuns
*
** Communs
** Article résumé
** Partage
*
**/


@use "../framework/frk-functions" as *;
@use "../vars-sass" as *;


/*===============================
=            Communs            =
===============================*/

/*----------  Titre de la page  ----------*/

h1 {
	margin: 0;
}


/*----------  Container WP editor  ----------*/

.editor {
	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		grid-column-end:span 2;
	}
}
.editor-inner {
	max-width: rem($txt-mw);
}


/*=====  FIN Communs  =====*/

/*======================================
=            Article résumé            =
======================================*/

.st {
	position: relative;
}
.st-inner {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.st-title {

	a {
		text-decoration: none;

		&:before {
			content:"";
			position: absolute;
			top:0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		&:focus {
			outline: none;
		}
	}
}

.st-figure {
	overflow: hidden;

	img {
		width: 100%;
		transition:all $t-st-hover ease;
	}
	
	.st:hover & {
		img {
			transition:all $t-st-hover ease;
		}
	}
}

.st-desc {
	margin:0;

	span {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		vertical-align: middle;
		width: rem(24);
		height: rem(24);
	}
}


/*=====  FIN Article résumé  =====*/

/*===================================
=            Main footer            =
===================================*/

.main-footer-nav {
	margin-bottom:$space;
	padding-bottom: $space;
	border-bottom-width:1px;
	border-bottom-style: solid;
	
	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		margin-bottom:0;
		padding-bottom: 0;
		border:none;
		grid-column: 1 / 2;
	}

}


/*----------  Pager  ----------*/

.pager-list {
	justify-content: flex-start;
}


/*----------  Partage  ----------*/

.social-share {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		grid-column: 2 / 3;
	}
}
.social-share-title {
	margin:0;
}


/*=====  FIN Main footer  =====*/