/**
*
* Publications : actualités
*
**/


@use "../framework/frk-functions" as *;
@use "../vars-sass" as *;


/*===============================
=            Accueil            =
===============================*/

.home-news-title {
	margin:2*$space 0 0 0;

	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		margin:0;
	}
}


/*=====  FIN Accueil  =====*/

/*==============================
=            Résumé            =
==============================*/

.st-details {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	font-size: rem(16);
	padding:rem(5,0);
}

.st-date {
	display: block;
	text-align: center;
	margin-bottom:rem(5);
}


/*=====  FIN Résumé  =====*/