/**
*
* Publications : actualités
*
**/

/*==============================
=            Résumé            =
==============================*/

.st-details {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-size: rem(16);
	border-top:1px solid $blue;
	padding:rem(3,0);
	transition:all .5s ease;

	.st:hover & {
		border-top-color: rgba($black,.15);
		transition:all .5s ease;
	}
}

// .st-ico {
// 	padding: rem(6);
// 	background-color: $blue;
// 	border-radius: 50%;
// 	margin-right:rem(5);
// 	transition:all .3s ease;
	
// 	svg * {
// 		fill:$black;
// 		transition:all .3s ease;
// 	}
// }

.st-ico--news {

	.st:hover & {

		.noise {
			animation: news-noise .4s ease infinite;
		}
	}
}

@keyframes news-noise {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.st-date {
	display: inline-flex;
	align-items: center;
	margin-right: rem($st-padding/2);
	color:$black;
	font-style: italic;
	transition:color .3s ease;
}

.st-tax-list {
	display:inline-flex;
	flex-wrap: wrap;
	align-items: center;
}
.st-tax-list-item {}
.st-tax-list-link {
	display: inline-block;
	color:$black;
	transition:all .3s ease;

	&:hover, &:focus {
		text-decoration: none;
	}
}


/*=====  FIN Résumé  =====*/