/**
*
* Publications : commmuns
*
** Communs
** Article résumé
** Partage
*
**/

/*===============================
=            Communs            =
===============================*/

/*----------  Titre de la page  ----------*/

h1, .h1-like {
	color:$font-color-default;
	font-family: var(--font);
	font-weight: 900;
	margin: 0;

	font-size: rem(28);
	line-height: 1.2; // dépend de la font

	/* $mq-title-size */
	@media ( min-width : em($mq-title-size) ) {
		font-size: rem(40);
	}
}


/*----------  Container WP editor  ----------*/

.editor {
	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		grid-column-end:span 2;
	}
}
.editor-inner {
	max-width: rem($txt-mw);
}


/*----------  Navigation pager, page précédente  ----------*/

.main-footer-nav {
	margin-top:$space;
	
	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		margin-top:0;
		grid-column: 1 / 2;
	}

}


/*=====  FIN Communs  =====*/

/*======================================
=            Article résumé            =
======================================*/

.st {
	position: relative;
	transition:background-color $t-st-hover ease;

	&:not(.st--fake):hover {
	   background-color: $blue;
	   transition:background-color $t-st-hover ease
	}
}
.st-inner {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.st-title {
	font-family: var(--font);
	font-weight: 900;
	font-size: rem(24);
	line-height: 1.2;

	margin:rem($space--st,0,.5*$space--st,0);

	a {
		color:$black;
		text-decoration: none;

		&:before {
			content:"";
			position: absolute;
			top:0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		&:focus {
			background-color: $blue;
			outline: none;
		}
	}

	/* $mq-title-size */
	@media ( min-width : em($mq-title-size) ) {
		font-size: rem(28);
	}
}

.st-figure {
	overflow: hidden;

	img {
		width: 100%;
		transform-origin: center;
		transition:$t-st-hover ease;
	}
	
	.st:hover & {
		img {
			transform:scale(1.1);
			transition:$t-st-hover ease;
		}
	}
}

.st-desc {
	margin:0;

	span {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		vertical-align: middle;
		background-color: $black;
		width: rem(24);
		height: rem(24);

		svg {
			fill:$beige;
		}
	}

	.st:hover & {
		svg {
			fill:$blue;
		}
	}
}


/*=====  FIN Article résumé  =====*/

/*=============================
=            Pager            =
=============================*/

.pager-list {
	justify-content: flex-start;
}


/*=====  FIN Pager  =====*/

/*===============================
=            Partage            =
===============================*/

.social-share {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top:$space;
	padding-top:$space;
	border-top:1px solid $grey;

	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		margin-top:0;
		padding-top: 0;
		border:none;
		grid-column: 2 / 3;
	}
}
.social-share-title {
	margin:0;
}
.social-list--share {
	.social-item {
		margin-left:rem(10);
	}
}


/*=====  FIN Partage  =====*/