/**
*
* Publications : accueil
*
** Raccourcis
*
**/

/*==================================
=            Raccourcis            =
==================================*/

.home-shortcuts {

	/* $mq-layout-m */
	@media ( min-width : em($mq-layout-m) ) {
		display: flex;
		flex-wrap: wrap;
		margin-left:-$space;
	}
	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		margin-left: 0;
		grid-column-end: span 2;
		display: grid;
		grid-template-columns: repeat(2,1fr);
	}
}
.home-shortcut-item {
	min-height: 60vw;
	display: flex;
	justify-content: stretch;
	align-items: stretch;
	margin-top:$space;

	/* $mq-layout-m */
	@media ( min-width : em($mq-layout-m) ) {
		width: calc( 50% - #{$space} );
		margin-left:$space;
		min-height: 35vw;
	}
	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		width:auto;
		margin:0;
		min-height: 25vw;
	}
}

.home-shortcut-link {
	position: relative;
	text-decoration: none;
	text-align: center;
	overflow: hidden;
}
.home-shortcut-img {
	display: block;
	height: 100%;

	img {
		object-fit: cover;
		height: 100%;
		width: 100%;
		transition:all #{$t-home-shortcut-hover - .1} ease;
	}

	.home-shortcut-link:hover &, .home-shortcut-link:focus & {
		img {
			transition:all #{$t-home-shortcut-hover + .1} ease;
		}
	}
}


/*----------  Version impair  ----------*/

.home-shortcuts--odd {
	/* $mq-layout-m */
	@media ( min-width : em($mq-layout-m) ) {
		> :first-child {
			width:100%;

			.home-shortcut-link {
				display: flex;
				width: 100%;
				.home-shortcut-txt, .home-shortcut-img {
					width: 50%;
				}

			}
			.home-shortcut-txt {
				position: static;
				padding:rem($space-max/2);
			}

		}
	}
	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		> :first-child {
			grid-column: 1 / 3;
		}
	}
}


/*=====  FIN Raccourcis  =====*/