/**
*
* Composant : messages
*
** Défaut
** Erreur
** Succès
** Inline to Block
*
**/


@use "../framework/frk-functions" as *;
@use "../vars-sass" as *;


/*==============================
=            Défaut            =
==============================*/

.msg {
	display:flex;
	line-height: 1.3;
	align-items: center;

	&.msg--block {
		background-color:var(--color-black);
	}

	/* @mq-space-m */
	@media ( min-width : em($mq-layout-m) ) {
		margin: rem(30,0,30,0);
	}
}

.msg-ico {
	flex:0 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: rem(30);
	height: rem(30);
	border-radius: 50%;
	background-color: var(--color-black);
	margin-right:rem(10);

	svg {
		fill: var(--color-white);
	}

	.msg--block & {
		background-color:var(--color-white);

		svg {
			fill: var(--color-black);
		}
	}
}


/*=====  FIN Défaut  ======*/

/*==============================
=            Erreur            =
==============================*/

.msg--error {
	color:var(--color-msg-error);

	.msg-ico {
		background-color:var(--color-msg-error);
	}

	&.msg--block {
		background-color:var(--color-msg-error);
		
		svg {
			fill: var(--color-msg-error);
		}
	}
}


/*=====  FIN Erreur  ======*/

/*==================================
=            Succès            =
==================================*/

.msg--success {
	color:var(--color-msg-success);
	
	.msg-ico {
		background-color:var(--color-msg-success);
	}

	&.msg--block {
		background-color:var(--color-msg-success);

		svg {
			fill: var(--color-msg-success);
		}
	}
}


/*=====  FIN Succès  ======*/

/*=======================================
=            Inline to block            =
=======================================*/

.msg--block {
	padding:rem(10);
	color:var(--color-white);

	.msg-ico {
		background-color:var(--color-white);
	}
	a, a:visited {
		color:var(--color-white);
	}

}


/*=====  FIN Inline to block  ======*/
