/**
*
* Composant : pager
*
**/


@use "../framework/frk-functions" as *;
@use "../vars-sass" as *;


.pager-list {
	display: flex;
}
.pager-link {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	transition: all .3s ease;
	
	path {
		transition: fill .3s ease;
	}

	&:not(.is-active):not(.pager-dots):hover, &:not(.is-active):not(.pager-dots):focus {
	   transition: all .3s ease;

	   path {
		   transition: fill .3s ease;
	   }
	}
	&.pager-dots {
		width: auto;
	}
}
.pager-link--prev {}
.pager-link--next {
	transform: rotate(180deg);
}