/**
*
* Composant : gallerie
*
** Variables
** Conteneur
** Diapositives
** Contrôles
** Compteur
** Légende
** Loader
*
**/


@use "../framework/frk-functions" as *;
@use "../vars-sass" as *;


/*=================================
=            Variables            =
=================================*/


$gl-btn-bg-color		: #000;
$gl-btn-bg-color-hover	: purple;


/*=====  FIN Variables  ======*/

/*=================================
=            Conteneur            =
=================================*/

.gl {
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	overflow: hidden;
	display:flex;
	flex-direction: column;

	// utiliser une animation pour l'ouverture
	// une transition ne fonctionne pas si l'élément est ajouté par le plugin
	animation: gl-visible 400ms ease;
	// utiliser un transition pour la fermeture
	// le plugin ajoute la class "is-hidden" avant de supprimer la gallerie
	&.is-hidden {
		transform:translateY(-100%);
		transition:transform 400ms ease; // reporter dans l'option "closingDuration" du plugin jQuery
	}
}

@keyframes gl-visible {
	0% { transform:translateY(-100%); }
	100% { transform:translateY(0); }
}

.gl-header {
	display: flex;
	align-items: center;
	padding: $space;

	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		padding:$space/2 $space;
	}
}
.gl-main {
	height: 0;
	flex-grow: 1;
}
.gl-footer {
	padding: $space/2 $space;
	text-align: center;
}


/*=====  FIN Conteneur  ======*/

/*====================================
=            Diapositives            =
====================================*/

.gl-slides {
	position: relative;
	display: flex;
	height: 100%;
}
.gl-slide {
	height: 100%;
}

.gl-slide-inner {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0 $space;

	> img {
		object-fit: scale-down;
		max-height: 100%;
		max-width: 100%;
	}

	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		padding: 0 calc( #{rem($gl-btn-size)} + #{2*$space} );
	}
}


/*=====  FIN Diapositives  ======*/

/*==================================
=            Contrôles            =
==================================*/

/*----------  Communs  ----------*/

.gl-btn {
	position: relative;
	transition:background-color 0.3s ease;
	transform-origin:center center 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: rem($gl-btn-size);
	width: rem($gl-btn-size);

	// si l'on clique sur l'enfant SVG
	// ben ça clique à travers et ferme la galerie...
	&:after {
		content: "";
		position: absolute;
		top:0;
		right:0;
		bottom:0;
		left: 0;
	}

	svg {
		display: block;
	}
	path {
		transition:fill .3s ease;
	}

	&:hover, &:focus {
		transition:background-color 0.3s ease;
			
		path {
			transition:fill .3s ease;
		}
	}
}


/*----------  Précédent / suivant  ----------*/

.gl-btn-nav {

	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		position: absolute;
		z-index: 1;
		top: 50%;
	}
}
.gl-btn-nav--prev {

	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		transform: translateY(-50%);
		right:auto;
		left: $space;
	}
}
.gl-btn-nav--next {
	transform:rotate(180deg);
	margin:0 $space/2;

	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		margin:0;
		transform: rotate(180deg) translateY(50%);
		right: $space;
	}
}


/*----------  Fermeture  ----------*/

.gl-btn-close {}


/*=====  FIN Contrôles  ======*/

/*================================
=            Compteur            =
================================*/

.gl-counter {
	margin-right: auto;
}
.gl-counter-current {}
.gl-counter-all {}


/*=====  FIN Compteur  ======*/

/*===============================
=            Légende            =
===============================*/

.gl-caption {
	min-height: rem($gl-btn-size);
	line-height: 1.3;;
}


/*=====  FIN Légende  ======*/

/*==============================
=            Loader            =
==============================*/

.gl-loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	transition:transform 0.5s ease;

	&:before {
		content:"";
		position: absolute;
	}
	&.is-hidden {
		transform:translate(-50%,-100vh);
		transition:transform 0.5s ease;
	}
}


/*=====  FIN Loader  ======*/
