/**
*
* Boutons
*
**/


@use "../framework/frk-functions" as *;
@use "../vars-sass" as *;


.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: rem(40);
	padding:rem(0,10);
	text-decoration: none;
	transition:all .3s ease;

	svg + span {
		margin-left: rem(5);
	}
	path {
		transition:fill .3s ease;
	}

	&:hover, &:focus {
		transition:all .3s ease;

		path {
			transition:fill .3s ease;
		}
	}
}

.btn--xl {
	font-size:rem(20);

	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		font-size: rem(22);
		padding:rem(0,20);
	}
}