/**
*
* Composant : partage
*
**/

.social-list {
	display:flex;
}
.social-item {}

.social-link {
	display: block;
	transition:all .3s ease;
	
	path {
		transition:fill .3s ease;
	}

	&:hover, &:focus {
		transition:all .3s ease;

		path {
			transition:fill .3s ease;
		}
	}
}
