/**
*
* Composant : coord
*
**/


@use "../framework/frk-functions" as *;
@use "../vars-sass" as *;


.coord {}

.coord-list {
	margin:0;
	font-style: normal;
}

.coord-item {
	margin:0;
	display: flex;
}

.coord-item--logo {}

.coord-item--addr {

	button {
		text-decoration: none;

		&:before {
			content:"";
			display: inline-block;
			width: rem(20);
			height: rem(2);
			vertical-align: middle;
			margin-right: rem(5);
		}

		&:hover, &:focus {
		   text-decoration: underline;
		}
	}

	/* $mq-layout-m */
	@media ( min-width : em($mq-layout-m) ) {
		margin-top:rem(30);
		
		br:nth-of-type(1) {
			display:none;
		}
	}

}
.coord-item--phone {
	margin-top:rem(10);
	
	a {
		text-decoration: none;

		&:hover, &:focus {
		   text-decoration: underline;
		}
	}
	.coord-sep {
		display: none;
	}

	/* $mq-layout-m */
	@media ( min-width : em($mq-layout-m) ) {
	
		br {
			display:none;
		}
		.coord-sep {
			display: inline;
		}
	}
}

.coord-ico {
	display: flex;
	justify-content: center;
	align-items: center;
	width: rem(30);
	height: rem(30);
	margin-right: rem(10);
}
.coord-txt {}