/**
*
* Composant : loader
*
**/

.loader {
	display:flex;
}
.loader-item {
	width: rem(20);
	height: rem(20);
	border-radius: 100%;
	animation: loader-animation 1.4s infinite ease-in-out both;

	&:nth-child(n+2) {
		margin-left: rem(5);
	}
}
.loader-item--1 {
	animation-delay: -0.32s;
}
.loader-item--2 {
	animation-delay: -0.16s;
}

@keyframes loader-animation {
	0%, 80%, 100% { transform: scale(0); }
	40% { transform: scale(1.0); }
}