/**
*
* Composant : WYSIWYG
*
** 
*
**/


.editor {}
.editor-inner {

	/*===================================
	=            First-child            =
	===================================*/

	> :first-child {
		.theme-classic & {
			margin-top:var(--wysi-space-default-l);
		}
		.theme-fullscreen & {
			margin-top:0;
		}
	}

	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		> :first-child {
			.theme-classic & {
				margin-top:calc( -1 * var(--wysi-space-default-l) );
			}
		}
	}
	

	/*=====  FIN First-child  =====*/

	/*===============================
	=            Communs            =
	===============================*/

	p,
	ul:not([class]),
	ol,
	blockquote,
	.wp-caption {
		margin: var(--wysi-space-default-s) 0 0 0;

		/* $txt-mw + 2*$space */
		@media ( min-width : em($txt-mw + 2*$space-max) ) {
			margin-top:var(--wysi-space-default-l);
		}
	}
	
	ul:not([class]),
	ol,
	blockquote {

		/* @mq-space-m */
		@media ( min-width : em($mq-layout-m) ) {
			margin-left: var(--wysi-space-default-s);
			margin-right: var(--wysi-space-default-s);
		}
		/* @mq-space-l */
		@media ( min-width : em($mq-layout-l) ) {
			margin-left: calc( 2 * var(--wysi-space-default-l) );
			margin-right: calc( 2 * var(--wysi-space-default-l) );
		}
	}
	
	
	/*=====  FIN Communs  =====*/


	/*============================
	=            Lien            =
	============================*/
	
	a {
		color:var(--wysi-link-color);
		text-decoration:none;
		border-bottom-width:1px;
		border-bottom-style: dotted;
		border-bottom-color: var(--wysi-link-color);
		transition:background-color 0.3s ease;
		&:visited {
			color:var(--wysi-link-color-visited);
			border-bottom-color: var(--wysi-link-color-visited);
		}
		&:active {
			color:var(--wysi-link-color-hover);
			border-bottom:none;
		}
		&:hover, &:focus {
			color:var(--wysi-link-color-hover);
			border-bottom:none;
			transition:background-color 0.3s ease;
		}
	}
	

	/*=====  FIN Lien  =====*/

	/*==============================
	=            Listes            =
	==============================*/
	
	ul:not([class]),
	ol {
		padding-left: rem(20);
	}
	

	/*=====  FIN Listes  =====*/

	/*================================
	=            Citation            =
	================================*/

	blockquote {
		border-left:2px solid #333;
		padding-left: rem(18);
		:first-child {
			margin-top: 0;
		}
	}
	
	
	/*=====  FIN Citation  =====*/

	/*==============================
	=            Titres            =
	==============================*/
	
	h2, h3  {
		font-family: var(--wysi-title-font);
		margin-bottom: 0;

		a {
			color: inherit;
			border: none;
			background: none;
			text-decoration: none;
		}
	}

	h2 {
		color: var(--wysi-h2-color);

		font-size: var(--wysi-h2-font-size-s);
		line-height: var(--wysi-title-line-h);
		margin-top: var(--wysi-h2-mtop-s);

		/* @mq-title-size */
		@media ( min-width : em($mq-title-size) ) {
			font-size: var(--wysi-h2-font-size-l);
			margin-top: var(--wysi-h2-mtop-l);
		}
	}

	h3 {
		color: var(--wysi-h3-color);

		font-size: var(--wysi-h3-font-size-s);
		line-height: var(--wysi-title-line-h);
		margin-top: var(--wysi-h3-mtop-s);

		/* @mq-title-size */
		@media ( min-width : em($mq-title-size) ) {
			font-size: var(--wysi-h3-font-size-l);
			margin-top: var(--wysi-h3-mtop-l);
		}
	}

	h2 + h3 {
		margin-top:var(--wysi-space-default-s);
		
		/* @mq-title-size */
		@media ( min-width : em($mq-title-size) ) {
			margin-top:var(--wysi-space-default-l);
		}
	}

	
	/*=====  FIN Titres  =====*/

	/*================================
	=            Galerie            =
	================================*/

	$gallery-space-s : 10;
	$gallery-space-l : 20;
	
	.wp-gallery {
		display:flex;
		flex-wrap:wrap;
		justify-content:center;
		margin: var(--wysi-space-default-s) 0 0 rem(-$gallery-space-s);
		padding-bottom: rem($gallery-space-s);

		/* @mq-space-m */
		@media ( min-width : em($mq-layout-m) ) {
			margin-left: rem(-$gallery-space-l);
		}
		/* $mq-layout-l */
		@media ( min-width : em($mq-layout-l) ) {
			margin-top: var(--wysi-space-default-l);
			padding-bottom: rem($gallery-space-l);
		}
	}
	.wp-gallery-item {
		padding-left: rem($gallery-space-s);
		margin-top: rem($gallery-space-s);
		width: 50%;

		/* 430 (2 x img) + marge */
		@media ( min-width:rem(430)) {
			width: 33.3333%;
		}
		/* 630 (3 x img) + marge */
		@media ( min-width : em(630) ) {
			padding-left: rem($gallery-space-l);
			margin-top: rem($gallery-space-l);
			width: 25%;
		}
	}
	.wp-gallery-link {
		display: block;
		border:none;		
	}
	.wp-gallery-img {}
	
	
	/*=====  FIN Galerie  =====*/

	/*=========================================
	=            Images alignement            =
	=========================================*/
	
	img.aligncenter,
	img.alignright {
		display: block;
	}
	img.aligncenter {
		margin-left: auto;
		margin-right: auto;
	}
	img.alignright {
		margin-left: auto;
	}
	

	/*=====  FIN Images alignement  =====*/

	/*===================================================
	=            Caption (image avec légende            =
	===================================================*/

	.wp-caption {
		display:flex;
		flex-direction: column;

		&.aligncenter {
			align-items: center;
		}
		&.alignright {
			align-items: flex-end;
		}
		figcaption {
			font-style: italic;
			margin-top: calc( var(--wysi-space-default-l) / 2 );
		}
	}


	/*=====  FIN Caption (image avec légende  =====*/


} /* FIN .editor */
