/**
*
* Composant : pager
*
**/

.pager-list {
	display: flex;
}
.pager-item {
	margin-right: rem(10);
}
.pager-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: rem(40);
	height: rem(40);
	background-color: $black;

	text-decoration: none;
	color:$beige;
	font-weight: 700;

	transition: all .3s ease;
	
	path {
		fill:$beige;
		transition: fill .3s ease;
	}

	&.is-active {
		background-color:transparent;
		color:$black;
		border:2px solid $black;
	}

	&:not(.is-active):not(.pager-dots):hover, &:not(.is-active):not(.pager-dots):focus {
	   background-color:$blue;
	   color:$black;
	   transition: all .3s ease;

	   path {
		   fill:$black;
		   transition: fill .3s ease;
	   }
	}
}
.pager-link--prev {}
.pager-link--next {
	transform: rotate(180deg);
}
.pager-dots {
	background-color: transparent;
	color:$black;
	width: auto;
}