/**
*
* Composants : liens d'évitement
*
**/


.skip-nav {
	position: absolute;
	margin: 0;
	list-style: none;
	z-index:9999;

	a {
		position: absolute;
		left: -666em;
		padding: rem(10);
		background: #000;
		color: #fff;
		text-decoration: none;

		&:focus {
			position: static;
			color:#fff;
		}

	}

}
