/**
*
* Classes utiles
*
** Élément masqué
** Reset
** Max-width
** Dimensions
** Iframe
** SVG
*
**/


/*======================================
=            Élément masqué            =
======================================*/

.visually-hidden {
	position: absolute;
	overflow: hidden;
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	clip: rect(1px,1px,1px,1px);
	border: 0;
	clip-path: inset(50%);
	white-space: nowrap;
}


/*=====  FIN Élément masqué  ======*/

/*=============================
=            Reset            =
=============================*/

/*----------  Spécifique  ----------*/

.reset-list {
	list-style:none;
	margin: 0;
	padding: 0;
	li { list-style-image:none; }
}
.reset-btn {
	border:none;
	padding: 0;
	border-radius:0;
	background:none;
}


/*=================================
=            Max-width            =
=================================*/

.mw {
	max-width: rem($max-width);
	padding-left: rem($space-s);
	padding-right: rem($space-s);
	margin-left: auto;
	margin-right: auto;

	/* $mq-space-m */
	@media ( min-width : em($mq-space-m) ) {
		padding-left: rem($space-m);
		padding-right: rem($space-m);
	}
	/* $mq-space-l */
	@media ( min-width : em($mq-space-l) ) {
		padding-left: rem($space-l);
		padding-right: rem($space-l);
	}
}


/*==============================
=            Iframe            =
==============================*/

.iframe {
	position: relative;
	padding-top: rem(25);
	height: 0;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.iframe_16-9 {
	padding-bottom: 56.25%; /* 16:9 */
}
.iframe_16-10 {
	padding-bottom: 62.5%; /* 16:10 */
}


/*=====  End of Iframe  ======*/

/*===========================
=            SVG            =
===========================*/

.svg-block {
	display: block;
}
.svg-inbl {
	display: inline-block;
}

.svg-10 {
	width:rem(10);
	height:rem(10);
}
.svg-20 {
	width:rem(20);
	height:rem(20);
}
.svg-30 {
	width:rem(30);
	height:rem(30);
}
.svg-40 {
	width:rem(40);
	height:rem(40);
}


/*=====  FIN SVG  ======*/
