/**
*
* Framework : reset complémentaire à Normalize
*
** HTML & Body
** Éléments
*
**/


/*===================================
=            HTML & Body            =
===================================*/

html {
	box-sizing: border-box;
	font-size: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: $base-font-family;
	font-size: rem($base-font-size-s);
	line-height: $base-line-height;

	background-color: var(--color-white);
	color: var(--color-black);

	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		font-size: rem($base-font-size-l);
	}
}


/*=====  FIN HTML & Body  ======*/

/*================================
=            Éléments            =
================================*/

em
cite {
	font-style: italic;
}

sub,
sup {
	font-size: .6em;
}

figure {
	margin:0;
}

img, svg {
	vertical-align: middle;
}
img {
	height: auto;
}

iframe {
	border:none;
}


/*----------  Imbrications  ----------*/

li div,
li p,
li ul,
li ol {
	margin-top: 0;
	margin-bottom: 0;
}


/*----------  Largeur maximum  ----------*/

img,
svg,
table,
td,
blockquote,
textarea,
input,
video {
	max-width: 100%;
}


/*----------  Formulaire  ----------*/

fieldset {
	border:none;
	padding: 0;
	margin: 0;
}

legend {
	border:0;
	white-space: normal;
}

input,
button,
select,
label,
textarea {
	font-family: inherit;
	font-size: inherit;
}

label { cursor: pointer; }

textarea { resize: vertical; }

/* supprimme le 'x' qui apparait lors de la saisie */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

input[type="submit"],
button {
	cursor: pointer;
}

input[type="button"]:focus,
button:focus {
	outline: 0;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}

::placeholder {
	color: var(--color-placeholder);
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--color-placeholder);
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--color-placeholder);
}
::-moz-placeholder {
	opacity: 1;
}

/*=====  FIN Éléments  ======*/
