
@font-face {
    font-family: "Raleway 900";
    font-style: normal;
    font-weight: 700;
    src: url("raleway-v14-latin-900.woff2") format("woff2"), 
        url("raleway-v14-latin-900.woff") format("woff");
}
@font-face {
    font-family: "Raleway 600";
    font-style: normal;
    font-weight: 600;
    src: url("raleway-v14-latin-600.woff2") format("woff2"), 
        url("raleway-v14-latin-600.woff") format("woff");
}

:root {
    --font : 'Raleway 900', sans-serif;
    --font-alt : 'Raleway 600', sans-serif;
} 