/**
*
* Formulaires : contact
*
**/


@use "../framework/frk-functions" as *;
@use "../vars-sass" as *;


.form--contact {
	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		grid-column: 1 / 3;
	}
}

.form-item--contact-cgu {
	border-top-width:1px;
	border-top-style: solid;
	padding-top:$space;

	/* $mq-layout-l */
	@media ( min-width : em($mq-layout-l) ) {
		padding-top:rem(20);
	}
}